<section style="display: flex; justify-content: space-between; align-items: center; background-color: #F0F2F5; padding: 5px 30px;" >
 <h3>Enigma Software Solution</h3>
 <div style="display: flex; align-items: center; justify-content: space-between; width: 100px;" >
  <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 1.5rem" value="2"></i>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
</div>
</section>
